.dropdown.bootstrap-select.form-control {
    background: #f8fafc;
}

.bootstrap-select>.dropdown-toggle.bs-placeholder {
    border-color: #ced4da;
    color: #495057;
    background: #ffffff;
    border-radius: 50em;
}

.bootstrap-select>.dropdown-toggle {
    border-color: #ced4da;
    color: #495057;
    background: #ffffff;
    border-radius: 50em;
}

.btn.bootstrap-select:not(:disabled):not(.disabled) {
    background: #ffffff;
}

.bootstrap-select>.form-control {
    border-radius: 50rem !important;
}

.login-page {
    height: 100%;
}

.custom-file-label::after {
    border-radius: 50rem !important;
}

.invalid-feedback {
    font-size: 90%;
}

.text-rainbow {
    animation: effect1 1s linear infinite;
}

#pe_wrapper {
    padding: 10px !important;
}

#pe_wrapper .row {
    margin-right: 0;
    margin-left: 0;
}

@keyframes effect1 {
    0% {
        color: white;
    }

    50% {
        color: blue;
    }

    100% {
        color: red;
    }
}

#qrcode path {
    fill: #42B168;
}

#qrcode path:last-child {
    stroke: white;
    animation: effect2 1s linear infinite;
}

@keyframes effect2 {
    0% {
        stroke: white;
    }

    50% {
        stroke: blue;
    }

    100% {
        stroke: red;
    }
}

table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td.dtr-control:before,
table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th.dtr-control:before {
    background-color: #42B168 !important;
}

table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td.dtr-control:before,
table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th.dtr-control:before {
    background-color: #495057 !important;
}

@media (min-width: 480px) {
    #people-table_length {
        display: inline-block;
    }

    #people-table_filter {
        float: right;
        display: flex;
    }
}

@media (min-width: 480px) {
    #statisticpeople-table_length {
        display: inline-block;
    }

    #statisticpeople-table_filter {
        float: right;
        display: flex;
    }
}

.dt-buttons {
    margin-bottom: 1rem;
}

@media (max-width: 480px) {
    .dt-buttons {
        float: none;
        width: 100%;
    }
}

@media (min-width: 480px) {
    #test-table_length {
        display: inline-block;
        margin-left: 2rem;
    }

    #test-table_filter {
        float: right;
        display: flex;
    }
}
