.dropdown.bootstrap-select.form-control {
    background: #f8fafc;
}

.bootstrap-select>.dropdown-toggle.bs-placeholder {
    border-color: #ced4da;
    color: #495057;
    background: #ffffff;
    border-radius: 50em;
}

.bootstrap-select>.dropdown-toggle {
    border-color: #ced4da;
    color: #495057;
    background: #ffffff;
    border-radius: 50em;
}

.btn.bootstrap-select:not(:disabled):not(.disabled) {
    background: #ffffff;
}

.bootstrap-select>.form-control {
    border-radius: 50rem !important;
}

.login-page {
    height: 100%;
}

.custom-file-label::after {
    border-radius: 50rem !important;
}

.invalid-feedback {
    font-size: 90%;
}

.text-rainbow {
    animation: effect1 1s linear infinite;
}

@keyframes effect1 {
    0% {
        color: white;
    }

    50% {
        color: blue;
    }

    100% {
        color: red;
    }
}

#qrcode path {
    fill: #42B168;
}

#qrcode path:last-child {
    stroke: white;
    animation: effect2 1s linear infinite;
}

@keyframes effect2 {
    0% {
        stroke: white;
    }

    50% {
        stroke: blue;
    }

    100% {
        stroke: red;
    }
}
